# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.* 
crash.log
crash.*.log
debug.log
.terraform.lock.hcl
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Sensitive files
*.pem
*.key
*.crt
*.secrets

# Local files
*.bak
*.backup
*.swp
*.tmp
